<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>TubeStats</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body>
  <script>
  		function viewMode(v) {
			var i;
			var x = document.getElementsByClassName("view");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			document.getElementById(v).style.display = "block";
		}
  </script>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h2>TubeStats - Comparison</h2>
        </div>
		         </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
        <div class="navbar-collapse collapse">
			<ul class="nav navbar-center">
				<div class="col-lg-6">
					<li><a href="individual">Individual</a></li>
				</div>
				<div class="col-lg-6">
                    <li><a href="comparison">Comparison</a></li>
				</div>
			</ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>HackTech 2017</h1>
					<p>Welcome Hackers! TubeStats is a web application where you can type in the URL of a youtube video and get back its statistics according to comments and ratings.</p>
				<label>Youtube URLs: </label>
				<input type="text" id="testMessageDouble1" width="6px">
				<input type="text" id="testMessageDouble2" width="6px">
				<input type="button" onclick='computeSentimentSingle();' value="Launch">
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->

	<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt centered">
		<p>Video </p>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/YqeW9_5kURI" frameborder="0" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/YqeW9_5kURI" frameborder="0" allowfullscreen></iframe>
		</div><!-- /row -->
		<div class="row mt centered">
		<div id="ww">
		<p>Statistics </p>
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
		</div><!-- /row -->
	</div><!-- /container -->

	<!-- +++++ Footer Section +++++ -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4 class = "text-center">Made at CalTech</h4>
					<p class="text-center">
						3/3/17 - 3/5/17<br/>
						1200 E California Blvd, <br/>
						Pasadena, CA 91125
					</p>
				</div><!-- /col-lg-4 -->
				<div class="col-lg-4">
					<h4 class="text-center">Our Links</h4>
					<p class = "text-center">
						<a class="white-link" href="https://github.com/grenmester/hacktech" target="_blank">Github</a><br/>
						<a class="white-link" href="#">Devpost</a><br/>
					</p>
				</div><!-- /col-lg-4 -->
				<div class = "col-lg-4">
					<h4 class = "text-center">The Team</h4>
					<div class="col-lg-6" style = "float:left">
						<p class="text-center">Arkin Gupta<br/>
						Ryan Fong    </p>
					</div><!-- /col-lg-4 -->
					<div class = "col-lg-6" style = "float:right">
						<p class = "text-center">Jacky Lee</br>
						Terrence Ho</p>
				</div>
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/hover.zoom.js"></script>
    <script src="../static/js/hover.zoom.conf.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>')</script>
  </body>
</html>
