<!DOCTYPE html>
<html>
    <head>
        <title>NLTK Test</title>
    </head>
    <body>
		<script>
			function computeSentimentSingle() {
				var testValue = document.getElementById('testMessageSingle').value;
				document.getElementById('sentimentSingle').innerHTML = testValue;
			}
			function computeSentimentJSON() {
				var testValue = document.getElementById('testMessageJSON').value;
				document.getElementById('sentimentJSON').innerHTML = testValue;
			}
			function openCity(cityName) {
				var i;
				var x = document.getElementsByClassName("city");
				for (i = 0; i < x.length; i++) {
					x[i].style.display = "none"; 
				}
				document.getElementById(cityName).style.display = "block"; 
			}
		</script>
        <div class="container">
            <h1>NLTK Test</h1>
            <br>
			<div class="w3-bar w3-black">
				<button class="w3-bar-item w3-button" onclick="openCity('London')">Single line</button>
				<button class="w3-bar-item w3-button" onclick="openCity('Paris')">Facebook chat</button>
			</div>
			<div id="London" class="city" style="display:none">
				<!--<h2>London</h2>-->
				<p><b>Enter text below to be evaluated for sentiment.</b></p>
				<label>Text</label>
				<input type="text" id="testMessageSingle">
				<input type="button" onclick='computeSentimentSingle();' value="Submit">
				<p id="sentimentSingle"></p>
				<p>{{ test_string }}</p>
			</div>

			<div id="Paris" class="city" style="display:none">
				<!--<h2>Paris</h2>-->
				<p><b>Enter json text below to be evaluated for sentiment.</b></p>
				<label>Text</label>
				<input type="text" id="testMessageJSON">
				<input type="button" onclick='computeSentimentJSON();' value="Submit">
				<p id="sentimentJSON"></p>
				<p>{{ test_string }}</p>
			</div>
            
        </div>
    </body>
</html>
