<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>SentiMedia</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css?q=1280549780" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/main.css?q=1280549780" rel="stylesheet">
  </head>
  <body>
    <div class = "container-fluid">
        <div class = "row" style = "background-color: #b31217; display: flex">
            <div class = "col-xs-12">
                <h2 style ="margin-left:20px;">SentiMedia - Logistics</h2>
            </div>
        </div>
        <div class = "row">
		    <div class = "col-xs-3 centered">
                <a href="logistics" class="btn-block" style = "font-size: large; margin-top: 15px; margin-bottom: 15px" role="button">Logistics</a>
            </div>
            <div class = "col-xs-3 centered">
                <a href="individual" class="btn-block" style = "font-size: large; margin-top: 15px; margin-bottom: 15px" role="button">Individual</a>
            </div>
            <div class = "col-xs-3 centered">
                <a href="comparison" class="btn-block" style = "font-size: large; margin-top: 15px; margin-bottom: 15px" role="button">Comparison</a>
            </div>
            <div class = "col-xs-3 centered">
                <a href="rankings" class="btn-block" style = "font-size: large; margin-top: 15px; margin-bottom: 15px" role="button">Channel Rankings</a>
            </div>
        </div>
    </div>

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>Sentimental Media</h1>
                        <p>Welcome! SentiMedia is a web application for analyzing the sentiment associated with YouTube videos based on their comments and ratings.</p>
                </div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->

	<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt centered">
        <iframe id="url" width="853" height="480" src="https://www.youtube.com/embed/MoB2OhPu6w8" frameborder="0" allowfullscreen></iframe>
		</div><!-- /row -->
		<div class="row mt centered">
		    <div id="ww">
                <p>Welcome! It took 4 hackers 2 sleepless night and lots of frustration, but the site finally came together, more or less.  Here's how we did it.</p>
                <p>We first got the initial idea for our project when we got our hands on the Twitter database of tweets intended for natural language processes.  Using Python's nltk library, we trained a classifier on 1.5 million tweets and set it loose upon Youtube's infamous comment section.  While this process doesn't sound very well, we believed that YouTube comments and tweets have enough in common that some overlap in learning should be possible.  Of course, because YouTube comments can be much longer than 140 characters, YouTube comments generally have a lower success rate than with a test set of tweets.  Nonetheless, we're all happy with our results, however unorthodox they are.</p>
                <p>In order to prepare our program to complete these sentiment evaluations, we taught ourselves how to use certain machine learning libraries.
                Comment sentiment ratios differ from pure video ratings (thumbs up and down) because comments provide more insight into why the video did as well (or as bad) as it did. Future functionalities that we'd like to implement include pulling the most recurring key words, displaying graphs to better compare and visualize data, and pulling from sources other than YouTube comments. Future possible projects include identifiying variables that are much harder to detect, such as sarcasm or slang.  </p>
				<p id="normalizedScore"></p>
	        </div><!-- /ww -->
		</div><!-- /row -->
	</div><!-- /container -->

	<!-- +++++ Footer Section +++++ -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4 class = "text-center">Made at HackTech 2017</h4>
					<p class="text-center">
						3/3/17 - 3/5/17<br/>
						1200 E California Blvd, <br/>
						Pasadena, CA 91125
					</p>
				</div><!-- /col-lg-4 -->
				<div class="col-lg-4">
					<h4 class="text-center">Our Links</h4>
					<p class = "text-center">
						<a class="white-link" href="https://github.com/grenmester/sentimedia" target="_blank">Github</a><br/>
						<a class="white-link" href="https://devpost.com/software/sentimedia" target="_blank">Devpost</a><br/>
					</p>
				</div><!-- /col-lg-4 -->
				<div class = "col-lg-4">
                    <h4 class = "text-center">The Team</h4>
                    <div class="col-lg-6" style = "float:left">
                        <p class="text-center"><a href = "https://github.com/arkingupta" class = "white-link" target = "_blank">Arkin Gupta</a><br/>
                        <a href = "https://github.com/ryanrfong" class = "white-link" target = "_blank">Ryan Fong</a></p>
                    </div><!-- /col-lg-4 -->
                    <div class = "col-lg-6" style = "float:right">
                        <p class = "text-center"><a href = "https://github.com/grenmester" class="white-link" target = "_blank">Jacky Lee</a></br>
                        <a href = "https://github.com/TerrenceHo" class = "white-link" target = "_blank">Terrence Ho</a></p>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <script src="/static/js/hover.zoom.js?q=1280549780"></script>
    <script src="/static/js/hover.zoom.conf.js?q=1280549780"></script>
    <script src="/static/js/bootstrap.min.js?q=1280549780"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?q=1280549780"></script>
    <script>
        function loadXMLIndividual() {
            var req = new XMLHttpRequest()
            req.onreadystatechange = function()
            {
                if (req.readyState == 4)
                {
                    if (req.status != 200)
                    {
                        //error handling code here
                    }
                    else
                    {
                        var response = JSON.parse(req.responseText)
                        document.getElementById('normalizedScore').innerHTML = "This video has a normalized score of " + response.normalized_score + "."
                        document.getElementById('url').setAttribute("src", response.url)
                    }
                }
            }
            req.open('POST', '/ajax')
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
            var videoUrl = document.getElementById('video-url').value
            var postVars = 'url=' + videoUrl
            req.send(postVars)

            return false
        }
    </script>
  </body>
</html>
